.first-project{
    background-image: url("../../public/images/img11.jpg");
    background-position:top; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-color: black;
    height: 94vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}