h1, ul ,li{
    margin: 0;
}

.header{
    width: 100vw;
    height:6vh;
    background-color: black;
}

.navbar{
    display: flex;
    padding: 0;
    flex-flow: row wrap;
    height: 100%;
}

.navbar-item{
    display: flex;
}

#logo,
#navbar-extra-cont{
    flex: 1 1 0px;
    display: flex;
    align-items: center;
    padding-left: 3rem;
}

#navbar-menu{
    justify-content: center;
    align-items: center;
    flex: 3 1 0px;
}

.navbar-menu-item{
    list-style: none;
    margin: 0 1rem;
}

.navbar-menu-item a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
}


#logo img{
    max-height: 3rem;
}

